version: "3.9"

services:
  backend:
    image: dipak45/house-price-api:latest
    container_name: house-price-backend
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: house-price-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      BACKEND_URL: "http://backend:8000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
